
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
    @import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
 
 
    body {
       font-family: 'Square Peg', cursive;
       font-size: 16px;
       color: rgb(72, 72, 105);
     }
     h1 {
       font-family: 'Square peg', Times, serif;
       font-size: 80px;
       font-weight: 800;
     }
     p{
       font-weight: 300;
     }